.standings{
    width: 25%;
    margin-top: 8.5%;
}

.standings >p{
    margin-top: -30px;
    font-size: 25px;
}
table{
    margin-top: 10px;
    border: 1px solid black;
    padding: 4px;
}

 td{
    padding: 7px 16px; 
}
